body {
  width: 80%;
  margin: 10px auto;
}

p {
  background: #c4c4c4;
  padding: 15px;
  border-radius: 8px;
}

input {
  margin: 10px;
}


.gallery__h3 {
  margin-bottom: 24px;
  text-align: center;
  font-size: x-large;
}

.gallery__image {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.buttonForUploads,
.buttonForSubmit {
  display: inline-block;
  background-color: #7ca524;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 3px #000;
  margin-top: 5px;
}

.buttonForUploads:active,
.buttonForSubmit:active {
  top: 3px;
  box-shadow: none;
  transition-duration: 400ms;
}

.gallery__title {
  background-color: #c3ea79;
  box-shadow: 0 0 3px #000;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
}

.gallery__review {
  background-color: #c3ea79;
  box-shadow: 0 0 3px #000;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  margin: 0 10px;
}

strong,
strong:before {
  content: " ";
  font-size: 20px;
}

textarea {
  overflow: hidden;
}

.gallery,
form {
  background-color: #d8edad;
  box-shadow: 0 0 3px #000;
  display: block;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
}

.gallery__calculator {
  width: 10%;
    margin-left: 0;

}

blockquote {
	display: inline-block;
}

.date {
  font-size: 64%;
}