.registration__fieldset,
.login__fieldset {
	width: 171px;
	float: left;
}

.login,
.registration {
	display: inline-block;
}

.registration__pass2_error,
.registration__pass_error,
.registration__login_error,
.registration__name_error, 
.class_legend__red {
	color: red;
}

.panel-admin,
.welcome-admin {
	display: inline-block;
	padding: 16px;
	border: 1px solid black;
	border-radius: 16px;
	margin: 8px;
}