.registration__fieldset,
.login__fieldset {
	width: 171px;
	float: left;
}

.login,
.registration {
	display: inline-block;
}

.registration__pass2_error,
.registration__pass_error,
.registration__login_error,
.registration__name_error,
.h3-error, 
.class_legend__red {
	color: red;
}

.panel-admin,
/*.welcome-admin,*/
.welcome-user,
.buttons-reg-and-log,
.card-dog,
.dog_news,
.card-dog__form,
.your_leash
{
	display: inline-block;
	padding: 16px;
	border: 1px solid black;
	border-radius: 16px;
	margin: 8px;
	vertical-align: top;
	max-width: 460px;
}


.h3-reserve__red {
	transition-duration: .5s;
	color: red;
}

.card-dog {
	width: 300px;
}