p {
  background: #c4c4c4;
  padding: 10px;
  border-radius: 8px;
}

input {
  margin: 10px;
}

.gallery {
  /*display: block;*/
  /*width: 100%;*/
}

.gallery__image {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 5px;
}

form {
  background: #d8edad;
  padding: 10px;
  border-radius: 8px;
}